/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

a {
    cursor: pointer;
}

i {
    cursor: pointer;
}

.cursor {
    cursor: pointer;    
}