<div class="container mt-3">
  <h3>Novo Parceiro</h3>
  <p>Adicione um novo parceiro para a base de dados</p>
  <div>
    <label class="mt-3">Nome do Parceiro</label>
    <input [(ngModel)]="promo.name" class="form-control col-10" type="text" placeholder="Digite um nome..." (change)="nameWarn=validateName(promo.name)">
    <small *ngIf="nameWarn" class="text-sm text-danger row col-10">O nome deve ter mais de 2 caracteres</small>
    <label class="mt-3"> Contato (Telefones) </label>
    <button class="btn btn-outline-primary btn-sm ml-3" (click)="addPhone()">+ fone</button>
    <button class="btn btn-outline-danger btn-sm ml-3" (click)="removePhone()">- fone</button>
    <div *ngFor="let phone of phones; let index=index; trackBy:trackByIndex;">
      <input [(ngModel)]="phones[index].name" class="form-control col-10" type="tel" placeholder="Digite um telefone..." (change)="phones[index].warn=validatePhone(phones[index].name)">
      <small *ngIf="phones[index].warn" class="text-sm text-danger row col-10">Digite um fone válido</small>
    </div>
    <label class="mt-3"> E-mail </label>
    <input [(ngModel)]="promo.email" class="form-control col-10" type="email" placeholder="Digite um email..." (change)="emailWarn=validateEmail(promo.email)">
    <small *ngIf="emailWarn" class="text-sm text-danger row col-10">Digite um e-mail válido</small>    
    <div class="row col mb-3">
      <button class="btn btn-success mt-3" (click)="send(promo)" [disabled]="!validator(promo)">Enviar</button>
      <small class="text-sm text-danger col mt-4" *ngIf="!validator(promo)">Por favor, preencha todos os campos corretamente</small>
    </div>
  </div>
</div>