<div class="container mt-3">
  <h3>Novo Evento</h3>
  <p>Adicione um novo evento para a base de dados</p>
  <div>
    <label class="mt-3">Nome do Evento</label>
    <input class="form-control col-10" type="text" placeholder="Digite um nome..." [(ngModel)]="evento.Name" (change)="nameWarn=validateName(evento.Name)">
    <small *ngIf="nameWarn" class="text-sm text-danger row col-10">O nome deve ter mais de 2 caracteres</small>
    <label class="mt-3">Cliente</label>
    <select [(ngModel)]="evento.Customer_Id" class="form-control col-10">
      <option value="0" selected disabled>Selecione um cliente</option>
      <option [value]="client.id" *ngFor="let client of clients">{{ client.name }}</option>
    </select>
    <label class="mt-3"> Período do Evento </label>
    <input type="text" placeholder="Escolha as datas de inicio e fim" class="form-control col-10" bsDaterangepicker [bsConfig]="{ isAnimated: true, rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }"
      [(ngModel)]="dateTemp">
    <div class="col">
      <label class="mt-3"> Ações </label>
      <button class="btn btn-outline-primary btn-sm ml-3" (click)="addAcao()">+ ação</button>
      <button class="btn btn-outline-danger btn-sm ml-3" (click)="removeAcao()">- ação</button>
      <div class="col-10 p-3 mt-2 card bg-dark text-white" *ngFor="let acao of acoes; let index=index">
        <label class="col"> Nome da Ação </label>
        <input class="form-control col" [(ngModel)]="acao.Name" type="tel" placeholder="Digite um nome..." (change)="acaoNameWarn=validateName(acao.Name)">
        <small *ngIf="acaoNameWarn" class="text-sm text-danger row col-10">O nome deve ter mais de 2 caracteres</small>
        <div class="row col">
          <label class="mt-3 col-4 mr-3"> Parceiro da Ação </label>
          <label class="mt-3 col-4"> Função do Parceiro </label>
        </div>
        <div class="row col mb-2" *ngFor="let promo of acao.Partners; let i=index">
          <select class="custom-select col-4 mr-3" [(ngModel)]="acao.Partners[i].Id">
            <option value="0" disabled>Selecione um parceiro</option>
            <option [value]="promotor.id" *ngFor="let promotor of promotores">{{ promotor.name }}</option>
          </select>
          <select class="custom-select col-4 mr-3" [(ngModel)]="acao.Partners[i].Function">
            <option value="0" disabled>Selecione uma função</option>
            <option value="Promotor">Promotor</option>
            <option value="Demonstrador">Demonstrador</option>
            <option value="Supervisor">Supervisor</option>
            <option value="Frete">Frete</option>
            <option value="Pesquisador">Pesquisador</option>
          </select>
          <button class="btn btn-primary btn-sm" (click)="addPromo(acao)"> + parceiro </button>
          <button class="btn btn-danger btn-sm ml-3" (click)="removePromo(acao, i)"> - parceiro </button>
        </div>
      </div>
    </div>
    <div class="row col">
      <button class="btn btn-success mt-3" type="submit" (click)="send()" [disabled]="validator()">Enviar</button>
      <small *ngIf="validator()" class="text-sm text-danger col mt-4">Por favor, preencha todos os campos</small>
    </div>
  </div>
</div>