<div class="container mt-3">
  <h3>Lista de Clientes</h3>
  <p>Lista de todos os Clientes na base de dados</p>

  <div class="form-group middle mt-3 row">
    <label class="btn ml-1">Filtro:</label>
    <input class="form-control col-6" placeholder="Digite para filtrar..." [(ngModel)]="search.filter">
    <label class="btn ml-3">Coluna:</label>
    <select class="form-control col-2" [(ngModel)]="search.column">
      <option value="0" disabled>Selecione</option>
      <option value="name">Nome</option>
      <option value="contact">Contato</option>
    </select>
    <button class="btn btn-primary ml-4" (click)="setFilter()">
      <i class="fas fa-search"></i> Procurar </button>
  </div>

  <form class="form-group mt-3">
    <div>
      <table class="table">
        <thead class="thead-dark">
          <th scope="col-4" class="cursor" (click)="sortTable('name')">Nome
            <i *ngIf="sort.column!='name'" class="fas fa-sort"></i>
            <i *ngIf="sort.order=='asc' && sort.column=='name'" class="fas fa-sort-up"></i>
            <i *ngIf="sort.order=='desc' && sort.column=='name'" class="fas fa-sort-down"></i>
          </th>
          <th scope="col-4" class="cursor" (click)="sortTable('contact')">Contato
            <i *ngIf="sort.column!='contact'" class="fas fa-sort"></i>
            <i *ngIf="sort.order=='asc' && sort.column=='contact'" class="fas fa-sort-up"></i>
            <i *ngIf="sort.order=='desc' && sort.column=='contact'" class="fas fa-sort-down"></i>
          </th>
          <th scope="col-4">Telefone</th>
          <th scope="col-4">E-mail</th>
          <th scope="col-4">Editar</th>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td scope="row">{{ client.name }}</td>
            <td>{{ client.contact }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.email }}</td>
            <td class="center">
              <i class="far fa-2x fa-edit" (click)="openEditModal(client, editModal)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="col btn btn-primary" (click)="getMoreCustomers()" [disabled]="more">Carregar Mais</button>
  </form>
</div>


<ng-template #editModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit {{ client.name }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="mt-3">Nome do Cliente</label>
    <input [(ngModel)]="client.name" class="form-control col-10" type="text" placeholder="Digite um nome..." (change)="nameWarn=validateName(client.name)">
    <small *ngIf="nameWarn" class="text-sm text-danger row col-10">O nome deve ter mais de 2 caracteres</small>
    <label class="mt-3">Contato (Pessoa)</label>
    <input [(ngModel)]="client.contact" class="form-control col-10" type="text" placeholder="Digite uma pessoa de contato..."
      (change)="contactWarn=validateName(client.contact)">
    <small *ngIf="contactWarn" class="text-sm text-danger row col-10">O nome deve ter mais de 2 caracteres</small>
    <label class="mt-3"> Contato (Telefones) </label>
    <button class="btn btn-outline-primary btn-sm ml-3" (click)="addPhone()">+ fone</button>
    <button class="btn btn-outline-danger btn-sm ml-3" (click)="removePhone()">- e-fone</button>
    <div *ngFor="let phone of phones; let index=index; trackBy:trackByIndex;">
      <input [(ngModel)]="phones[index].name" class="form-control col-10" type="tel" placeholder="Digite um telefone..." (change)="phones[index].warn=validatePhone(phones[index].name)">
      <small *ngIf="phones[index].warn" class="text-sm text-danger row col-10">Digite um fone válido</small>
    </div>
    <label class="mt-3"> E-mails </label>
    <button class="btn btn-outline-primary btn-sm ml-3" (click)="addEmail()">+ e-mail</button>
    <button class="btn btn-outline-danger btn-sm ml-3" (click)="removeEmail()">- e-mail</button>
    <div *ngFor="let email of emails; let index=index; trackBy:trackByIndex;">
      <input [(ngModel)]="emails[index].name" class="form-control col-10" type="tel" placeholder="Digite um telefone..." (change)="emails[index].warn=validateEmail(emails[index].name)">
      <small *ngIf="emails[index].warn" class="text-sm text-danger row col-10">Digite um e-mail válido</small>
    </div>
    <div class="row col mb-3">
      <button class="btn btn-success mt-3" (click)="send(client)" [disabled]="!validator(client)">Enviar</button>
      <small class="text-sm text-danger col mt-4" *ngIf="!validator(client)">Por favor, preencha todos os campos corretamente</small>
    </div>
  </div>
</ng-template>