<div class="container mt-3">
  <h3>Novo Cliente</h3>
  <p>Adicione um novo cliente para a base de dados</p>
  <div class="mt-3">
    <label class="mt-3">Nome do Cliente</label>
    <input [(ngModel)]="client.name" class="form-control col-10" type="text" placeholder="Digite um nome..." (change)="nameWarn=validateName(client.name)">
    <small *ngIf="nameWarn" class="text-sm text-danger row col-10">O nome deve ter mais de 2 caracteres</small>
    <label class="mt-3">Contato (Pessoa)</label>
    <input [(ngModel)]="client.contact" class="form-control col-10" type="text" placeholder="Digite uma pessoa de contato..."
      (change)="contactWarn=validateName(client.contact)">
    <small *ngIf="contactWarn" class="text-sm text-danger row col-10">O nome deve ter mais de 2 caracteres</small>
    <label class="mt-3"> Contato (Telefones) </label>
    <button class="btn btn-outline-primary btn-sm ml-3" (click)="addPhone()">+ fone</button>
    <button class="btn btn-outline-danger btn-sm ml-3" (click)="removePhone()">- e-fone</button>
    <div *ngFor="let phone of phones; let index=index; trackBy:trackByIndex;">
      <input [(ngModel)]="phones[index].name" class="form-control col-10" type="tel" placeholder="Digite um telefone..." (change)="phones[index].warn=validatePhone(phones[index].name)">
      <small *ngIf="phones[index].warn" class="text-sm text-danger row col-10">Digite um fone válido</small>
    </div>
    <label class="mt-3"> E-mails </label>
    <button class="btn btn-outline-primary btn-sm ml-3" (click)="addEmail()">+ e-mail</button>
    <button class="btn btn-outline-danger btn-sm ml-3" (click)="removeEmail()">- e-mail</button>
    <div *ngFor="let email of emails; let index=index; trackBy:trackByIndex;">
      <input [(ngModel)]="emails[index].name" class="form-control col-10" type="tel" placeholder="Digite um telefone..." (change)="emails[index].warn=validateEmail(emails[index].name)">
      <small *ngIf="emails[index].warn" class="text-sm text-danger row col-10">Digite um e-mail válido</small>
    </div>
    <div class="row col mb-3">
      <button class="btn btn-success mt-3" (click)="send(client)" [disabled]="!validator(client)">Enviar</button>
      <small class="text-sm text-danger col mt-4" *ngIf="!validator(client)">Por favor, preencha todos os campos corretamente</small>
    </div>
  </div>
</div>