<div class="container mt-3">
  <h3>Lista de Parceiros</h3>
  <p>Lista de todos os parceiros na base de dados</p>
    
  <div class="form-group middle mt-3 row">
      <input class="form-control ml-3 col-10" placeholder="Digite para filtrar por nome..." [(ngModel)]="search">
      <button class="btn btn-primary ml-4" (click)="setFilter()"> <i class="fas fa-search"></i> Procurar </button>
    </div>
  
  <form class="form-group mt-3">
    <div>
      <table class="table">
        <thead class="thead-dark">
          <th scope="col-4" class="cursor" (click)="sortTable('name')">Nome <i *ngIf="sort==''" class="fas fa-sort"></i> <i *ngIf="sort=='asc'" class="fas fa-sort-up"></i> <i *ngIf="sort=='desc'" class="fas fa-sort-down"></i></th>
          <th scope="col-4">Telefone</th>
          <th scope="col-4">E-mail</th>
          <th scope="col-4">Editar</th>
        </thead>
        <tbody>
          <tr *ngFor="let promo of promos">
            <td scope="row">{{ promo.name }}</td>
            <td>{{ promo.phone }}</td>
            <td>{{ promo.email }}</td>
            <td class="center"><i class="far fa-2x fa-edit" (click)="openEditModal(promo, editModal)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="col btn btn-primary" (click)="getMorePromos()" [disabled]="more">Carregar Mais</button>    
  </form>
</div>

<ng-template #editModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ promo.name }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <label class="mt-3">Nome do Parceiro</label>
      <input [(ngModel)]="promo.name" class="form-control col-10" type="text" placeholder="Digite um nome..." (change)="nameWarn=validateName(promo.name)">
      <small *ngIf="nameWarn" class="text-sm text-danger row col-10">O nome deve ter mais de 2 caracteres</small>    
      <label class="mt-3"> Contato (Telefones) </label>
      <button class="btn btn-outline-primary btn-sm ml-3" (click)="addPhone()">+ fone</button>
      <button class="btn btn-outline-danger btn-sm ml-3" (click)="removePhone()">- fone</button>
      <div *ngFor="let phone of phones; let index=index; trackBy:trackByIndex;">
        <input [(ngModel)]="phones[index].name" class="form-control col-10" type="tel" placeholder="Digite um telefone..." (change)="phones[index].warn=validatePhone(phones[index].name)">
        <small *ngIf="phones[index].warn" class="text-sm text-danger row col-10">Digite um fone válido</small>
      </div>
      <label class="mt-3"> E-mail </label>
      <input [(ngModel)]="promo.email" class="form-control col-10" type="email" placeholder="Digite um email..." (change)="emailWarn=validateEmail(promo.email)">
      <small *ngIf="emailWarn" class="text-sm text-danger row col-10">Digite um e-mail válido</small>    
      <div class="row col mb-3">
        <button class="btn btn-success mt-3" (click)="send(promo)" [disabled]="!validator(promo)">Enviar</button>
        <small class="text-sm text-danger col mt-4" *ngIf="!validator(promo)">Por favor, preencha todos os campos corretamente</small>
      </div>
  </div>
</ng-template>