<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-light" routerLink="/"> H E A T </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-tie"></i> Clientes </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/novocliente"><i class="fas fa-plus"></i> Criar Novo </a>
          <a class="dropdown-item" routerLink="/filtrarclientes"><i class="fas fa-list-ul"></i> Listar Itens </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
          <i class="far fa-address-card"></i> Parceiros </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/novopromotor"><i class="fas fa-plus"></i> Criar Novo </a>
          <a class="dropdown-item" routerLink="/filtrarpromotores"><i class="fas fa-list-ul"></i> Listar Itens </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-calendar-alt"></i> Eventos </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/novoevento"><i class="fas fa-plus"></i> Criar Novo </a>
          <a class="dropdown-item" routerLink="/filtrareventos"><i class="fas fa-list-ul"></i> Listar Itens </a>
        </div>
      </li>

    </ul>
  </div>
</nav>