
img {
    height: 100%;
    width: 100%;
    position: fixed;
}

.subtitle {
    margin-left: 14.5%;
}

.text {
    margin-left: 20%;
    margin-top: 3%;
    width: 70%;
    position: absolute;    
}
