
<img src="assets/home.jpg" alt="home">
<div class="text">
<h1 class="title text-light font-weight-light">Bem vindo ao H E A T</h1>
<h5 class="subtitle text-light font-weight-light">Hovan Event Assistant Tool</h5>
</div>