<div class="container mt-3">
  <h3>Lista de eventos</h3>
  <p>Lista de todos os eventos na base de dados</p>

  <div class="form-group middle mt-3 row">
    <label class="btn ml-1">Filtro:</label>
    <input class="form-control col-6" placeholder="Digite para filtrar..." [(ngModel)]="search.filter" *ngIf="search.column != 'customer'">
    <select class="form-control col-2" [(ngModel)]="search.filter" *ngIf="search.column == 'customer'">
      <option value="" disabled>Selecione</option>
      <option [value]="client.id" *ngFor="let client of clients"> {{ client.name }} </option>
    </select>
    <label class="btn ml-3">Coluna:</label>
    <select class="form-control col-2" [(ngModel)]="search.column">
      <option value="0" disabled>Selecione</option>
      <option value="name">Nome</option>
      <option value="customer">Cliente</option>
    </select>
    <button class="btn btn-primary ml-4" (click)="setFilter()">
      <i class="fas fa-search"></i> Procurar </button>
  </div>

  <form class="form-group mt-3">
    <div>
      <table class="table">
        <thead class="thead-dark">
          <th scope="col-4">Nome</th>
          <th scope="col-4">Cliente</th>
          <th scope="col-4">Data Inicial</th>
          <th scope="col-4">Data FInal</th>
          <th scope="col-4">Status</th>
          <th scope="col-4">Abrir</th>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td scope="row">{{ event.name }}</td>
            <td>{{ event.customer.name }}</td>
            <td>{{ event.initDate }}</td>
            <td>{{ event.endDate }}</td>
            <td>
              <label class="btn btn-info" *ngIf="event.isActive">Ativo</label>
              <label class="btn btn-warning" *ngIf="!event.isActive">Inativo</label>
            </td>
            <td class="center">
              <i class="far fa-2x fa-window-restore" (click)="openEventModal(event, eventModal)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="col btn btn-primary" (click)="getMoreEvents()" [disabled]="more">Carregar Mais</button>
  </form>
</div>

<ng-template #eventModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ event.name }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container-fluid">
    <div>
      <label class="col-5 row mt-3"> Cliente: {{ event.customer.name }}</label>
      <div class="row">
        <label class="col-4 mt-3">Data Inicial: </label>
        <label class="col-4 mt-3">Data Final: </label>
      </div>
      <div class="row">
        <label class="col-4 mt-1"> {{ event.initDate }} </label>
        <label class="col-4 mt-1"> {{ event.endDate }} </label>
      </div>
      <label class="mt-3"> Status: </label>
      <label class="btn btn-info ml-2" *ngIf="event.isActive">Ativo</label>
      <label class="btn btn-warning ml-2" *ngIf="!event.isActive">Inativo</label>
      <div class="col-10 p-3 mt-3 card bg-light" *ngFor="let acao of event.actions; let index=index">
        <label class="row col mb-4"> Ação: {{ acao.name }}</label>
        <div class="col" *ngFor="let partner of acao.partners; let index=index">
          <label class="mt-2 row">Parceiro: {{ partner.name }}</label>
          <label class="row">Função: {{ partner.function }}</label>
        </div>
      </div>
      <button class="btn btn-warning mt-3" (click)="openEditEventModal(event, editEventModal)">Editar</button>
    </div>
  </div>
</ng-template>

<ng-template #editEventModal>
  <div>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Editar: {{ event.name }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body container-fluid">
      <div>
        <label class="mt-3">Nome do Evento</label>
        <input class="form-control col-10" type="text" placeholder="Digite um nome..." [(ngModel)]="evento.Name" (change)="nameWarn=validateName(evento.Name)">
        <small *ngIf="nameWarn" class="text-sm text-danger row col-10">O nome deve ter mais de 2 caracteres</small>
        <label class="mt-3">Cliente</label>
        <select [(ngModel)]="evento.Customer_Id" class="form-control col-10">
          <option value="0" selected disabled>Selecione um cliente</option>
          <option [value]="client.id" *ngFor="let client of clients">{{ client.name }}</option>
        </select>
        <label class="mt-3"> Período do Evento </label>
        <input type="text" placeholder="Escolha as datas de inicio e fim" class="form-control col-10" bsDaterangepicker [bsConfig]="{ isAnimated: true, rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }"
          [(ngModel)]="dateTemp">
        <div class="row col">
          <label class="mt-3"> Status do Evento </label>
          <button class="btn btn-warning col-2 ml-2 mt-2" *ngIf="evento.isActive" (click)="evento.isActive = !evento.isActive" [(ngModel)]="evento.isActive">Desativar</button>
          <button class="btn btn-info col-2 ml-2 mt-2" *ngIf="!evento.isActive" (click)="evento.isActive = !evento.isActive" [(ngModel)]="evento.isActive">Ativar</button>
        </div>
        <div class="col">
          <label class="mt-3"> Ações </label>
          <button class="btn btn-outline-primary btn-sm ml-3" (click)="addAcao()">+ ação</button>
          <button class="btn btn-outline-danger btn-sm ml-3" (click)="removeAcao()">- ação</button>
          <div class="col-10 p-3 mt-2 card bg-dark text-white" *ngFor="let acao of acoes; let index=index">
            <label class="col"> Nome da Ação </label>
            <input class="form-control col" [(ngModel)]="acao.Name" type="tel" placeholder="Digite um nome..." (change)="acaoNameWarn=validateName(acao.Name)">
            <small *ngIf="acaoNameWarn" class="text-sm text-danger row col-10">O nome deve ter mais de 2 caracteres</small>
            <div class="row col">
              <label class="mt-3 col-4 mr-1"> Parceiro da Ação </label>
              <label class="mt-3 col-4"> Função do Parceiro </label>
            </div>
            <div class="row col mb-2" *ngFor="let promo of acao.Partners; let i=index">
              <select class="custom-select col-4 mr-1" [(ngModel)]="acao.Partners[i].Id">
                <option value="0" disabled>Selecione o parceiro</option>
                <option [value]="promotor.id" *ngFor="let promotor of promotores">{{ promotor.name }}</option>
              </select>
              <select class="custom-select col-4 mr-1" [(ngModel)]="acao.Partners[i].Function">
                <option value="0" disabled>Selecione a função</option>
                <option value="Promotor">Promotor</option>
                <option value="Demonstrador">Demonstrador</option>
                <option value="Supervisor">Supervisor</option>
                <option value="Frete">Frete</option>
                <option value="Pesquisador">Pesquisador</option>
              </select>
              <button class="btn btn-primary btn-sm" (click)="addPromo(acao)"> + parceiro </button>
              <button class="btn btn-danger btn-sm ml-1" (click)="removePromo(acao, i)"> - parceiro </button>
            </div>
          </div>
        </div>
        <div class="row col">
          <button class="btn btn-success mt-3" type="submit" (click)="edit()" [disabled]="validator()">Enviar</button>
          <small *ngIf="validator()" class="text-sm text-danger col mt-4">Por favor, preencha todos os campos</small>
        </div>
      </div>
    </div>
  </div>
</ng-template>